*{
    margin: 0px;
    
    }
    .div{
        width: 100vw;
        height: 200vh;
        background-color: aqua;
        position: relative;
        }
        .box1{
        width: 100px;
        height: 100px;
        background-color: darkgoldenrod;
        position: relative;
        left: 50px;
    top: 50px;    
    }
        
        
        
        .box2{
        width: 100px;
        height: 100px;
        background-color: cornflowerblue;
        position: relative;
        left: 50px;
        z-index: 1;
        }
        
        
        .box3{
        width: 100px;
        height: 100px;
        position: relative;
        background-color: blueviolet;
        left: 50px;
        bottom: 50px;
    z-index: 2;
    }